@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
  background-color: rgb(104, 101, 97);
}
.container{
  font-family: 'Poppins', sans-serif;
  display:flex;
  justify-content: flex-start;
}
.topbar {
  display: flex;
  justify-content: centre;
  align-items: center;
  background-color: rgb(92, 36, 156);
}
.logo{
  width:20vh;
  padding:20px;
}
.logo :hover{
  transform: scale(1.2);
}
.list{
  width:40vh;
  background-color: rgb(92, 36, 156);
  display:flex;
  justify-content: space-between;
}
.list :hover{
  color: blue;
}
.topbar ul li{
  background-color: blue;
}
